{erl_opts, [debug_info]}.
{deps, [
	{emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.14.7"}}},
    {epgsql, "4.7.1"},
    {prometheus, "6.1.2"},
    {prometheus_httpd, "2.1.15"}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [service_subscriber]}
]}.

{relx, [{release, {service_subscriber, "0.1.0"},
         [service_subscriber, 
          sasl,
          prometheus,
          prometheus_httpd]},
        {mode, prod},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}]}.
